{% extends 'webapp/base.html' %}
{% block title %} Password Reset {% endblock %}

{% block body %}
<div style="text-align: center;">
    <h3 style="color: #007BFF; font-size: 24px; font-weight: bold;">Password Reset</h3>
    <p style="font-size: 16px; line-height: 2;">Forgot your password? Enter your email below to reset it.</p>
    
    <form method="post" style="display: inline-block;">
        {% csrf_token %}
        <div style="text-align: left;">
            <label for="{{ form.email.id_for_label }}" style="font-size: 17px;">Email</label>
            {{ form.email }}
        </div>
        <button type="submit" style="background-color: #007BFF; color: #fff; border: none; padding: 10px 20px;margin-top: 10px; font-size: 16px; cursor: pointer;">Send Email</button>
    </form>
</div>
{% endblock %}
